*{
    margin: 0;
    padding: 0;
  
}
body{
    height: 100vh;
    background-color: rgb(255, 255, 255);
   background-image: url("./images/background.jpg");
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    animation: slideImage linear infinite;
}
 
li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-right: 30px;
    
}
.navbar a:hover{
    color: rgb(255, 0, 0);
    background-color: beige;
    
    
}
/*HEADER*/
header{
    position: relative;
    padding:0 2rem;
}
.navbar{
    padding-top: 30px;
width: 1347px;
height: 70px; 
display: flex;
background-color: rgb(23, 9, 102);
align-items: center;
justify-content:space-between;
position: sticky;
}
.navbar .logo img{
padding-top: 10px;
}
.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
      list-style: none;
}
.navbar .links{
    display: flex;
    gap: 2rem;
}
.navbar .toggle-btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    display: block;
}
 
 
.container h1{
    font-weight: bold;
    color: rgb(255, 153, 1);
  justify-content: right;
  text-align: right;
  padding-top: 170px;
  padding-right: 70px;
}
.container h2{
    color: rgb(231, 211, 203);
  padding-top: 30px;
  padding-left: 800px;
}
.btn{
   padding: 10px;

}
main{
    padding-top: 250px;
}
.container1 h1{
    font-size: 30px;
    color: rgb(255, 255, 255);
    align-items: center;
    padding-top: 20px;
   text-align: center;
}
.box{
width: 500px;
height: 450px;
border: 2px solid #ff259d;
margin: 0 auto;
position: relative;
}

.box .box-img{
transform: rotateY('0deg');
transition:all 0.5s ease-in-out 0s;
}
.box:hover .box-img{
    transform: rotateY(90deg);
}
.box .box-img img{
    width: 100%;
    height: 450PX;
    position: absolute;
}
section{
    background-color: black;
    width: 1350px;
}
 
    .imgSlider{
       width: 400px;
       height: 400px;
       background-size: 100% 100% ;
       background-image: url("/images/c1.jpg");
         animation: changeImage 10s  linear infinite   ; 
         background-repeat: no-repeat;
     }
    @keyframes  changeImage {
        0%{
            background-image: url("/images/c1.jpg");
        }
         
        50%{
            background-image: url("/images/c3.jpg");
        }
         
        100%{
            background-image: url("/images/c5.jpg");
        }
    }
    .container3{
        display: flex;
        gap: 30px;
        height: 500px;
        padding-left: 30px ;
    }
    .imgSlider1{
        width: 400px;
        height: 400px;
        background-size: 100% 100% ;
        background-image: url("/images/c2.jpg");
          animation: changeImage 10s  linear infinite   ; 
          background-repeat: no-repeat;
      }
     @keyframes  changeImage {
         0%{
             background-image: url("/images/c2.jpg");
         }
          
         50%{
             background-image: url("/images/c5.jpg");
         }
          
         100%{
             background-image: url("/images/c3.jpg");
         }
     }
     .imgSlider1{
        width: 400px;
        height: 400px;
        background-size: 100% 100% ;
        background-image: url("/images/c2.jpg");
          animation: changeImage 10s  linear infinite   ; 
          background-repeat: no-repeat;
      }
     @keyframes  changeImage {
         0%{
             background-image: url("/images/c2.jpg");
         }
          
         50%{
             background-image: url("/images/c5.jpg");
         }
          
         100%{
             background-image: url("/images/c3.jpg");
         }
     }
     footer{
        font-size: 20px;
        width: 100%;
        height: 50px;
        background-color: rgb(23, 9, 102);
        color: white;
        text-align: center;
        padding-top: 14px;

     }
     ul li ul.dropdown li {
        display: block;
        margin: 10px;
     }
     ul li ul.dropdown{
        width: 80px;
        background:  rgb(167, 3, 3);
        position: absolute;
        z-index: 999;
        display: none;
     }
     ul li:hover{
        background: 112C66;
     }
     ul li:hover ul.dropdown{
display: block;   
  }
  form{
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: wheat;
  }
  form h2{
    color: rgb(255, 0, 170);
    
  }
