*{
    margin: 0;
    padding: 0;
  
}
body{
    height: 100vh;
    background-color: rgb(255, 255, 255);
   background-image: url("./images/background.jpg");
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    
}
a:hover{
    color: chartreuse;
}
/*HEADER*/
header{
    position: relative;
    padding:0 2rem;
}
.navbar{
width: 1347px;
height: 70px; 
display: flex;
background-color: #300364;
align-items: center;
justify-content:space-between;
position: sticky;
}
.navbar .logo img{
padding-top: 10px;
}
.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
      list-style: none;
}
.navbar .links{
    display: flex;
    gap: 2rem;
}
.navbar .toggle-btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    display: block;
}
.action_btn{
    background-color: rgb(255, 155, 4);
    color: white;
    border:none;
    outline: none;
    height: 30px;
    width: 70px;
    padding: 6px 10px;
    border-radius:26px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.05;
    color: #ffffff;
    background-color: blue;
}
.action_btn:active{
    scale: 0.95;
}
.container h1{
    font-weight: bold;
    color: white;
  justify-content: right;
  text-align: right;
  padding-top: 170px;
  padding-right: 170px;
}
.container h2{
    color: white;
  padding-top: 30px;
  padding-left: 830px;
}
.btn{
   padding: 10px;

}
main{
    padding-top: 300px;
}
.container1 h1{
    font-size: 30px;
    color: blue;
    align-items: center;
    padding-top: 20px;
   text-align: center;
}
.box{
width: 500px;
height: 450px;
border: 2px solid #ff259d;
margin: 0 auto;
position: relative;
}

.box .box-img{
transform: rotateY('0deg');
transition:all 0.5s ease-in-out 0s;
}
.box:hover .box-img{
    transform: rotateY(90deg);
}
.box .box-img img{
    width: 100%;
    height: 450PX;
    position: absolute;
}
section{
    background-color: black;
}
.container2 .image-links{

    display: flex;
    gap: 15px;
    box-sizing:border-box ;
}
.container2 .image-links{
    transform: rotateY('0deg');
    transition:all 0.5s ease-in-out 0s;
    }
    .container2:hover .image-links{
        transform: rotateY(90deg);
    }